@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<AA7.Models.dbo_tbl_Unit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>tbl_Unit</h2>

@using (Html.BeginForm("Index", "dbo_tbl_Unit", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td align="left">&nbsp;</td>
            <td>&nbsp;</td>
            <td align="center">
                @Html.DropDownList("SearchField", (IEnumerable<SelectListItem>)ViewData["SearchFields"], new {style = "width:150px;height:33px"})
                @Html.DropDownList("SearchCondition", (IEnumerable<SelectListItem>)ViewData["SearchConditions"], new { style = "width:150px;height:33px" })
                @Html.TextBox("SearchText", ViewData["SearchText"] as String, new { style = "width:100px;height:33px" })
                <input type="submit" value="Search" name="command" class="btn btn-default" />
                <input type="submit" value="Show All" name="command" class="btn btn-default" /> 
            </td>
            <td>&nbsp;</td>
            <td align="right">&nbsp;</td>
        </tr>
        <tr>
            <td align="left">
                @Html.DropDownList("Export", (IEnumerable<SelectListItem>)ViewData["Exports"], new { style = "width:65px;height:33px" })
                <input type="submit" value="Export" name="command" class="btn btn-default" />
            </td>
            <td>&nbsp;</td>
            <td align="center">                
                <input type="submit" value="Add New Record" name="command" class="btn btn-default" />
            </td>
            <td>&nbsp;</td>
            <td align="right">
                @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewData["PageSizes"], new { style = "width:50px;height:33px" })
                <input type="submit" value="Page Size" name="command" class="btn btn-default" />
            </td>
        </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Unit I D", "Index", new { sortOrder = ViewData["Unit_IDSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Unit Name", "Index", new { sortOrder = ViewData["UnitNameSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Unit Location", "Index", new { sortOrder = ViewData["UnitLocationSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Unit Formation", "Index", new { sortOrder = ViewData["UnitFormationSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Updated By User I D", "Index", new { sortOrder = ViewData["UpdatedByUserIDSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Updated Date Time", "Index", new { sortOrder = ViewData["UpdatedDateTimeSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Unit_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitFormation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedByUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {
 						Unit_ID = item.Unit_ID 
 						}) |
            @Html.ActionLink("Details", "Details", new {
 						Unit_ID = item.Unit_ID 
 						}) |
            @Html.ActionLink("Delete", "Delete", new {
 						Unit_ID = item.Unit_ID 
 						})
        </td>
    </tr>
}

</table>

<table class="table">
    <tr>
        <td align="center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewData["CurrentSort"], SearchText = ViewData["SearchText"] }))
        </td>
    </tr>
</table>

 
