
@model IHSDC.WebApp.Models.ComdCRUD
@{

    var message = TempData["Message"] ?? string.Empty;
    var messageStatus = TempData["messageStatus"] ?? string.Empty;
    var messagemidStatus = TempData["messagemidStatus"] ?? string.Empty;
    //var ActionName = "/Master/DeleteComd";

    ViewBag.Title = "Add Comd ";
    Layout = "~/Views/Shared/_NewAA7Layout.cshtml"; int sno = 0;
}

@{
    string myValue = @ViewBag.ButtonName;
}

@using (Html.BeginForm("AddComd", "Master", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card-body" style="box-shadow: -1px 2px 16px 3px;">
        <h3 style="text-align: center; box-shadow: 0px 1px 1px;">
            Comd
        </h3>
        <div class="row" style="margin-top:-1rem;">


            @Html.Hidden("id", "model.ComdId")

            @Html.Hidden("btnval", myValue)
            <div class="col-md-3">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "danger" })
                <div class="col">
                    <label><b> Comd/PSOs  Name:</b></label>
                    @Html.TextBoxFor(m => m.ComdName, new { @class = "form-control", @maxlength = "25", @onkeyup = "ValInData(this)", @required = "required" })

                    @Html.ValidationMessageFor(model => model.ComdName, "", new { @class = "danger" })

                </div>
            </div>


            <div class="col-sm-6" style="margin-left:10%">
                <button type="button" style="margin-top: 2.5rem;" value="@ViewBag.ButtonName" onclick="AddConfirmation(this,'/Master/AddClassInjury','AddClassInjury')" name="btnval" class="btn btn-success">@ViewBag.ButtonName</button>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        @*<div class="col-12" style="margin-left:35%">
                <div class="form-group">
                    <div class="col-sm-6" style="margin-left:10%">
                        <button type="submit" style="margin-top: 2.5rem;" value="@ViewBag.ButtonName" name="btnval" class="btn btn-success">@ViewBag.ButtonName</button>
                    </div>
                </div>
            </div>*@

        <div class="table-responsive" style=" margin-left: 1rem; padding-right: 2rem;">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-info text-white">
                    <tr>
                        <th class="center">S/No</th>
                        <th class="center">Comd/PSOs  Name</th>
                        <th class="center">Edit</th>
                        <th class="center">Order</th>
                        <th class="center">Shorting</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @if (ViewBag.count > 0)
                    {
                        foreach (var item in Model.ILComdCRUD)
                        {
                            <tr>
                                <td>
                                    @{ sno++; }
                                    @sno
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.ComdName)</td>
                                <td>
                                    <a onclick="location.href='@Url.Action("AddComd", "Master", new {   id = IHSDC.WebApp.RepositryManager.EncryptionManager.Encryption(item.ComdId.ToString()) })'">
                                        <img src="~/Content/images/Editnew.png" width="30" height="30" border="0">
                                    </a>
                                </td>
                                @*<td>
                                        <a id="btndel" data-id='@IHSDC.WebApp.RepositryManager.EncryptionManager.Encryption(item.ComdId.ToString())' onclick="DeleteConfirmation(this,'/Master/DeleteComd')">
                                            <img src="~/Content/images/Delete.png" width="30" height="30" border="0" />
                                        </a>
                                    </td>*@
                                <td><span>@item.Orderby</span></td>
                                <td>
                                    @if (sno != 1)
                                    {
                                        <div class="spnOrderbyId d-none">@item.Orderby</div>
                                        <i class="fas fa-2x fa-arrow-circle-up OrderbyId" style="color: #f00a0a;"></i>
                                    }
                                    @*@if ((Model.ILComdCRUD.Count) != sno)
                                        {
                                            <span>@item.Orderby</span>
                                            <span class=""><i class="fas fa-2x fa-arrow-circle-down" style="color: #2515f7;"></i></span>
                                        }*@
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="4" style="font-weight:600;color:red;text-align:center"> No Record Found!!!</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


<script src="~/scripts/jquery-3.3.1.js"></script>


<script src="~/Content/CustomJS/DeleteConfirmation.js"></script>
<script src="~/Content/css/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
@*<link href="~/NewContent/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="only screen">*@
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />

<script type="text/javascript">

        var messaget = '@ViewBag.ButtonName';

    $(".OrderbyId").off("click").click(function () {
        var orderby = $(this).closest("td").find(".spnOrderbyId").html();
        updateorder(orderby);

    });
    function updateorder(orderby) {

        $.ajax({
            url: '/Master/CommadOrderby',
            type: 'POST',
            data: { "OrderbyId": orderby }, 
            success: function (result) {


                if (result.length > 0) {

                    swal("Successfully!", "Update Order Successfully", "success");
                    location.reload();

                }

            }
        });



    }

    function AddConfirmation(obj, ActionName, Submit) {
        event.preventDefault();
      
        $('.error-label').remove();
       
        var emptyFields = [];
        $('form').find(':input[required]').each(function () {
            if ($.trim($(this).val()) === '') {
                emptyFields.push(this);
            }
        });

        if (emptyFields.length > 0) {
            var firstEmptyField = emptyFields[0];
            $(firstEmptyField).after('<label class="error-label" style="color: red;">This field is required</label>');
            return;
        }

        if (messaget == "Add") {
            swal({
                title: "Please Confirm",
                text: "",
                type: "warning",

                showCancelButton: true,
                cancelButtonText: "Cancel",
                cancelButtonColor: "#FF0000",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Add",

                closeOnCancel: true,
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $('form').submit();
                    }
                });
        } else {
            swal({
                title: "Please Confirm",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Update",
                cancelButtonText: "Cancel",

                closeOnConfirm: false,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $('form').submit();
                    }
                });
        }
    }

   var message = '@message';
    var messageStatus = '@messageStatus';
    var messagemidStatus = '@messagemidStatus ';
    if (message)
        sweetAlert(message, messagemidStatus, messageStatus);
</script>
