@model IHSDC.WebApp.Models.ApptCRUD
@{
    var message = TempData["Message"] ?? string.Empty;
    var messageStatus = TempData["messageStatus"] ?? string.Empty;
    var messagemidStatus = TempData["messagemidStatus"] ?? string.Empty;

    ViewBag.Title = "Add Appt ";
    Layout = null;
    int sno = 0;
}
@{
    string myValue = @ViewBag.ButtonName;
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ACMS - SignUp</title>
    <!-- Bootstrap core CSS-->
    <script src="~/NewContent/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/CustomJS/AviatorJS.js"></script>
    <link href="~/Content/css/dashboard.css" rel="stylesheet">
    <link href="~/NewContent/vendor/bootstrap/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/NewContent/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/NewContent/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <!-- Page level plugin CSS-->
    <link href="~/NewContent/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/NewContent/css/sb-admin.css" rel="stylesheet">

    <link href="~/NewContent/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/NewContent/css/Sidebar.css" rel="stylesheet">

    <link rel="icon" href="~/Images/dgis_ico.png" type="image/x-icon">

    <!-- dataTable4-->

    <link rel="stylesheet" href="~/NewContent/dataTable4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/NewContent/dataTable4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/NewContent/dataTable4/css/responsive.bootstrap4.min.css">
    <link href="~/NewContent/dataTable4/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/NewContent/dataTable4/css/searchBuilder.dataTables.min.css" rel="stylesheet" />
    <link href="~/NewContent/dataTable4/css/dataTables.dateTime.min.css" rel="stylesheet" />
    <link href="~/NewContent/dataTable4/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/NewContent/dataTable4/css/colReorder.dataTables.min.css" rel="stylesheet" />
    <!--Notification bell-->
    <link href="~/NewContent/vendor/bootstrap/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/NewContent/vendor/bootstrap/css/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/NewContent/dataTable4/css/select2.min.css" rel="stylesheet" />

</head>

<header class="masthead">
    <nav class="navbar navbar-expand-sm bg-dark" style="margin-top: -5rem;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/armylogo.png" style="height: 105px; min-height: 105px; width: 105px; min-width: 105px;" />
            </a>
        </div>
        <div class="container-fluid">
            <img src="~/Content/images/acc.png" style="height: 110px;margin-left:-155px;" />
        </div>
    </nav>
    <div class="card-body" style="width:100%; box-shadow: -1px 1px 8px 1px; margin-top:5px; background-color:white;">
        <div class="card-body">
            <div class="card-body" style="padding: 0.3rem; border: 0px solid #89CFF0;">

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 headingtext"> Appointment</div>
                    <div class="col-md-4">
                    </div>

                </div>
                <hr />
                @using (Html.BeginForm("AddAppt", "SignUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="row">
                        @Html.Hidden("id", "model.ApptId")

                        @Html.Hidden("btnval", myValue)

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "danger" })
                        <div class="col" style="margin-left:1rem;">
                            <label><b>Appt Abbreviation:</b></label>
                            @Html.TextBoxFor(m => m.Appt, new { @class = "form-control", @maxlength = "25", @required = "required", @onkeyup = "ValInData(this)", autocomplete = "off" })

                            @Html.ValidationMessageFor(model => model.Appt, "", new { @class = "danger" })
                        </div>

                        <div class="col" style="margin-left:1rem;">
                            <label><b>Appt Name:</b></label>
                            @Html.TextBoxFor(m => m.ApptAbbreviation, new { @class = "form-control", @maxlength = "100", @required = "required", @onkeyup = "ValInData(this)" , autocomplete = "off" })

                            @Html.ValidationMessageFor(model => model.ApptAbbreviation, "", new { @class = "danger" })
                        </div>

                        <div class="col-sm-6" style="margin-left:10%">
                            @*<button type="button" style="margin-top: 2.5rem;" value="@ViewBag.ButtonName" onclick="AddConfirmation(this,'/Master/AddAppt','AddAppt')" name="btnval" class="btn btn-success">@ViewBag.ButtonName</button>*@
                            <button type="button" style="margin-top: 2.5rem;" value="@ViewBag.ButtonName" onclick="AddConfirmation(this,'/SignUp/AddAppt','AddAppt')" name="btnval" class="btn btn-success">@ViewBag.ButtonName</button>
                        </div>
                    </div>


                    <div class="card-body">

                        <div class="dropdown-divider"></div>

                        <div class="table-responsive" style=" margin-left: 1rem; padding-right: 2rem;">
                            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                <thead class="bg-info text-white">
                                    <tr>
                                        <th class="center">S/No</th>
                                        <th class="center">Appt Abbreviation</th>
                                        <th class="center">Appt Name</th>

                                        <th class="center">Edit</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @if (ViewBag.count > 0)
                                    {
                                        int oldorder = 0;
                                        foreach (var item in Model.ILApptCRUD)
                                        {
                                            if (oldorder == 0)
                                            {
                                                oldorder = @item.Orderby;
                                            }
                                            <tr>
                                                <td>
                                                    @{ sno++; }
                                                    @sno
                                                </td>

                                                <td>@Html.DisplayFor(modelItem => item.Appt)</td>

                                                <td>@Html.DisplayFor(modelItem => item.ApptAbbreviation)</td>


                                                <td>
                                                    <a onclick="location.href='@Url.Action("AddAppt", "SignUp", new {   id = IHSDC.WebApp.RepositryManager.EncryptionManager.Encryption(item.ApptId.ToString()) })'">
                                                        <img src="~/Content/images/Editnew.png" width="30" height="30" border="0">
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="4" style="font-weight:600;color:red;text-align:center"> No Record Found!!!</td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>



    <footer class="sticky-footer" style="background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(12,141,242,1) 66%, rgba(22,125,207,1) 99%); opacity: 3.8; position: fixed; border-bottom: 2px; width: 100%; height: 36px; ">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">


                <p class="mb-0  text-light" style="font-size:22px;">Copyright © 2023. Developed by <span class="text-danger text-light">ASDC , DGIS</span> </p>
            </div>
        </div>
    </footer>
</header>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Content/CustomJS/DeleteConfirmation.js"></script>
<script src="~/Content/css/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
   var messaget = '@ViewBag.ButtonName';
    $(".OrderbyId").off("click").click(function () {
        var orderby = $(this).closest("td").find(".ApptOrderbyId").html();
        var oldorderby = $(this).closest("td").find(".ApptoldOrderbyId").html();
        alert(orderby);
        updateorder(orderby, oldorderby);
    });
    function updateorder(orderby, oldorderby) {
        $.ajax({
            url: '/SignUp/ApptOrderby',
            type: 'POST',
            data: { "OrderbyId": orderby, "NewOrderbyId": oldorderby },
            success: function (result) {
                if (result == 0) {

                    swal("Successfully!", "Update Order Successfully", "success");
                    location.reload();
                }
            }
        });
    }
    function AddConfirmation(obj, ActionName, Submit) {
        event.preventDefault();

        // Remove any existing error labels
        $('.error-label').remove();

        // Check if all required form fields are filled in
        var emptyFields = [];
        $('form').find(':input[required]').each(function () {
            if ($.trim($(this).val()) === '') {
                emptyFields.push(this);
            }
        });

        // If there are empty fields, display an error message for the first empty field
        if (emptyFields.length > 0) {
            var firstEmptyField = emptyFields[0];
            $(firstEmptyField).after('<label class="error-label" style="color: red;">This field is required</label>');
            return;
        }

        // If all fields are filled, display the confirmation dialog
        if (messaget == "Add") {
            swal({
                title: "Please Confirm",
                text: "",
                type: "warning",

                showCancelButton: true,
                cancelButtonText: "Cancel",
                cancelButtonColor: "#FF0000",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Add",

                closeOnCancel: true,
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $('form').submit();
                    }
                });
        } else {
            swal({
                title: "Please Confirm",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Update",
                cancelButtonText: "Cancel",

                closeOnConfirm: false,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $('form').submit();
                    }
                });
        }
    }

    var message = '@message';
    var messageStatus = '@messageStatus';
    var messagemidStatus = '@messagemidStatus';
    if (message)
        sweetAlert(message, messagemidStatus, messageStatus);
</script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/NewContent/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/css/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<link href="~/NewContent/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="only screen">
<link href="~/NewContent/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="only screen">
<link href="~/NewContent/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" media="only screen">
<link href="~/NewContent/css/sb-admin.css" rel="stylesheet" media="only screen">
<script src="~/Content/CustomJS/SignUpfmReg.js"></script>
<script src="~/NewContent/vendor/jquery/jquery.min.js"></script>
<script src="~/NewContent/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/NewContent/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="~/NewContent/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/NewContent/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/NewContent/js/sb-admin.min.js"></script>
<!-- Demo scripts for this page-->
<script src="~/NewContent/js/demo/datatables-demo.js"></script>
<script src="~/NewContent/bootstrap-datepicker.min.js"></script>
<script src="~/NewContent/bootstrap.min.js"></script>
<!--dataTable4-->
<script src="~/NewContent/dataTable4/js/jquery.dataTables.min.js"></script>
<script src="~/NewContent/dataTable4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/NewContent/dataTable4/js/dataTables.buttons.min.js"></script>
<script src="~/NewContent/dataTable4/js/buttons.bootstrap4.min.js"></script>
<script src="~/NewContent/dataTable4/js/vfs_fonts.js"></script>
<script src="~/NewContent/dataTable4/js/buttons.html5.min.js"></script>
<script src="~/NewContent/dataTable4/js/dataTables.responsive.min.js"></script>
<script src="~/NewContent/dataTable4/js/responsive.bootstrap4.min.js"></script>
<script src="~/NewContent/dataTable4/js/dataTables.colReorder.min.js"></script>
<script src="~/NewContent/dataTable4/js/dataTables.searchBuilder.min.js"></script>
<script src="~/NewContent/dataTable4/js/dataTables.dateTime.min.js"></script>
<script src="~/NewContent/vendor/bootstrap/js/popper.min.js"></script>
<script src="~/NewContent/vendor/bootstrap/js/owl.carousel.min.js"></script>
<script src="~/NewContent/vendor/bootstrap/js/main.js"></script>
<script src="~/NewContent/dataTable4/js/select2.min.js"></script>
