@model AA7.Models.dbo_tbl_Unit

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_NewAA7Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_Unit</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Unit_ID)

        <div class="form-group">
            Unit/Fmn/Directorate
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitName)
                @Html.ValidationMessageFor(model => model.UnitName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitLocation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitLocation)
                @Html.ValidationMessageFor(model => model.UnitLocation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitFormation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitFormation)
                @Html.ValidationMessageFor(model => model.UnitFormation)
            </div>
        </div>

       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
