@using Microsoft.AspNet.Identity
@using IHSDC.WebApp.Helper
@using IHSDC.WebApp.Connection
@model IEnumerable<IHSDC.Common.Models.ApplicationUser>

@{
    var message = TempData["Message"] ?? string.Empty;
    var messageStatus = TempData["messageStatus"] ?? string.Empty;
    var messagemidStatus = TempData["messagemidStatus"] ?? string.Empty;
    ViewBag.Title = "View Users";
    int sno = 0;
}



<div class="card-body" style="box-shadow: -1px 2px 16px 3px; padding: 0.5rem;">
    @if (SessionManager.RoleId == enum1.Administrator)
    {
        <p>
            @Html.ActionLink("Add Users", "Add", "Account", new object { }, new { @class = "btn btn-primary" })
        </p>
    }

    @if (SessionManager.RoleId == enum1.GSO1 || SessionManager.RoleId == enum1.Sponsor || SessionManager.RoleId == enum1.Nodal)
    {
        <div style="font-size: 24px; color: red; font-weight: bold; text-align: center;">
            Updated Successfully
        </div>
    }




    <div class="row">

@if (SessionManager.RoleId == enum1.Administrator )
{
        <div class="table-responsive" style=" margin-left: 1rem; padding-right: 2rem;">
            @if (Model.Count() > 1)

            {
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead class="bg-info text-white">
                        <tr>
                            <th class="center">S/No</th>
                            <th class="center">Domain User Id</th>
                            <th class="center">Pers No</th>
                            <th class="center">Full Name</th>
                            <th class="center">Branch</th>
                            <th class="center">Role</th>
                            <th class="center">ASCON No</th>
                            <th class="center">Mob No</th>
                            <th class="center">Status</th>
                            <th>Edit</th>
                            @*<th>Del</th>*@
                        </tr>
                    </thead>

                    <tbody id="tbody">


                        @foreach (var item in Model)
                        {
                            if (item.UserName != User.Identity.Name)
                            {
                                <tr>
                                    <td>
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PersonnelNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @foreach (var item1 in ViewBag.Unit)
                                        {
                                            if (item1.Unit_ID == item.Unit_ID)
                                            {
                                                <p>@item1.UnitName</p>
                                            }
                                        }
                                    </td>

                                    <td>
                                        @foreach (var item1 in ViewBag.UserRole)
                                        {
                                            if (item1.Id == item.Id)
                                            {
                                                <p>@item1.Role</p>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @if (item.MobNo != "")
                                        {
                                            @Html.DisplayFor(modelItem => item.MobNo)
                                        }


                                    </td>
                                    <td>
                                        @if (item.Active.ToString() == "1")
                                        {
                                            @*@Html.DisplayFor(modelItem => item.Active, new { htmlAttributes = new { @class = "active-item" } })*@
                                            <span class="green"></span>
                                        }
                                        else
                                        {
                                            @*@Html.DisplayFor(modelItem => item.Active, new { htmlAttributes = new { @class = "inactive-item" } })*@
                                            <span class="red"></span>
                                        }

                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@

                                        @*<a onclick="location.href='@Url.Action("Edit", "Account", new { id = item.Id })'">*@
                                        <a href='@Url.Action("Edit", "Account", new { id = item.Id })'>
                                            <img src="~/Content/images/Editnew.png" width="20" height="20" border="0">
                                        </a>
                                    </td>
                                    @*<td>
                                            @if (User.Identity.Name == IHSDC.Common.Configurations.Application.AdminUsername)
                                            {

                                                <a onclick="location.href='@Url.Action("Delete", "Account", new { id = item.Id })'">
                                                    <img src="~/Content/images/Delete.png" width="20" height="20" border="0" />
                                                </a>
                                            }
                                        </td>*@
                                </tr>
                            }
                            else
                            {
                                @*<tr><td colspan="4" style="font-weight:600;color:red;text-align:center"> No Record Found!!!</td></tr>*@
                            }

                        }


                    </tbody>
                </table>
            }

        </div>
}
    </div>
</div>
<style>
    .green {
        height: 20px;
        width: 20px;
        background-color: #008000;
        border-radius: 50%;
        display: inline-block;
    }

    .red {
        height: 20px;
        width: 20px;
        background-color: #ff0000;
        border-radius: 50%;
        display: inline-block;
    }
</style>
<script>
    var message = '@message';
                    var messageStatus = '@messageStatus';
                    var messagemidStatus = '@messagemidStatus';
                    if (message)
                    sweetAlert(message, messagemidStatus, messageStatus);
</script>
