@model IEnumerable<IHSDC.Common.Models.FullHierarchyView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h4>Root: @ViewBag.Root</h4>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildId)
        </td>
    </tr>
}

</table>
